<div class="container">
        <div class="row">
            <div class="col-4 card m-3" style="width: 18rem;" *ngFor="let course of coursesList">
                <img src="http://localhost:3000/{{course.courseId.photo}}" width="70" height="250" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{course.courseId.name}}</h5>
                    <strong>{{course.courseId.points}} points</strong>
                    <p class="card-text">Description : {{course.courseId.description}}</p>
                    <h6 class="card-title">categories: </h6>
                    <div class="row">
                        <div *ngIf="!course.categoryId?.length > 0">
                            Not Category Found !
                        </div>
                        <div *ngIf="course.categoryId?.length > 0">
                                <div *ngFor="let c of course.categoryId">
                                        <div class="p-1 mr-1 mb-2 bg-info text-white rounded float-left">{{c.name}}
                                            <a class=" text-danger" (click)="_parent.deleteCategoryFromCourse(course.courseId._id,c)"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-dark mr-1 " id="{{course.courseId._id}}"
                            (click)="_parent.openEditCourseModal(course)"> Edit</button>
                        <button type="button" class="btn btn-dark" id="{{course.courseId._id}}"
                            (click)="_parent.deleteCourse($event)">
                            Delete</button>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
